<section class="slider">
  <div class="slider-container swiper">
    <ul class="slider-list swiper-wrapper">
      <li class="slider-item swiper-slide" data-order="1">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/lineage-interlude.webp" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo-2.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="2">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/lineage-assassin.webp" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="3">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/cover-perfect-world.webp" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="4">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/cover-aion.webp" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="5">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/cover-gunz.webp" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="6">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/cover-gta.webp" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="7">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/cover-mj.webp" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="8">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/cover-ragnarok.webp" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="9">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/cover-tibia.webp" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
    </ul>
  </div>
  <div class="slider-flexbox">
    <div class="slider-info slider-info--active">
      <div class="slider-info__name">
        Lineage 2 Interlude
      </div>
      <div class="slider-info__description">
        <p>
          Become part of a large community in a Long-Term Project with a 1x low-rate gameplay model and a Play-to-Earn (P2E) feature. Participate in thrilling raids and other in-game activities while earning rewards.
        </p>
      </div>
      <div class="slider-actions">
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__button-text">
            visit website
          </span>
        </a>
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
              <path d="M0 9V0L9 3.46154L0 9Z" fill=""/>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="slider-info">
      <div class="slider-info__name">
        Lineage 2 Assassin
      </div>
      <div class="slider-info__description">
        <p>
          Become part of a large community in a Long-Term Project with a 1x low-rate gameplay model and a Play-to-Earn (P2E) feature. Participate in thrilling raids and other in-game activities while earning rewards.
        </p>
      </div>
      <div class="slider-actions">
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__button-text">
            visit website
          </span>
        </a>
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
              <path d="M0 9V0L9 3.46154L0 9Z" fill=""/>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="slider-info">
      <div class="slider-info__name">
        Perfect World 1.4.2
      </div>
      <div class="slider-info__description">
        <p>
          Become part of a large community in a Long-Term Project with a 1x low-rate gameplay model and a Play-to-Earn (P2E) feature. Participate in thrilling raids and other in-game activities while earning rewards.
        </p>
      </div>
      <div class="slider-actions">
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__button-text">
            visit website
          </span>
        </a>
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
              <path d="M0 9V0L9 3.46154L0 9Z" fill=""/>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="slider-info">
      <div class="slider-info__name">
        AION
      </div>
      <div class="slider-info__description">
        <p>
          Become part of a large community in a Long-Term Project with a 1x low-rate gameplay model and a Play-to-Earn (P2E) feature. Participate in thrilling raids and other in-game activities while earning rewards.
        </p>
      </div>
      <div class="slider-actions">
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__button-text">
            visit website
          </span>
        </a>
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
              <path d="M0 9V0L9 3.46154L0 9Z" fill=""/>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="slider-info">
      <div class="slider-info__name">
        Gunz the duel
      </div>
      <div class="slider-info__description">
        <p>
          Become part of a large community in a Long-Term Project with a 1x low-rate gameplay model and a Play-to-Earn (P2E) feature. Participate in thrilling raids and other in-game activities while earning rewards.
        </p>
      </div>
      <div class="slider-actions">
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__button-text">
            visit website
          </span>
        </a>
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
              <path d="M0 9V0L9 3.46154L0 9Z" fill=""/>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="slider-info">
      <div class="slider-info__name">
        GTA
      </div>
      <div class="slider-info__description">
        <p>
          Become part of a large community in a Long-Term Project with a 1x low-rate gameplay model and a Play-to-Earn (P2E) feature. Participate in thrilling raids and other in-game activities while earning rewards.
        </p>
      </div>
      <div class="slider-actions">
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__button-text">
            visit website
          </span>
        </a>
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
              <path d="M0 9V0L9 3.46154L0 9Z" fill=""/>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="slider-info">
      <div class="slider-info__name">
        GTA
      </div>
      <div class="slider-info__description">
        <p>
          Become part of a large community in a Long-Term Project with a 1x low-rate gameplay model and a Play-to-Earn (P2E) feature. Participate in thrilling raids and other in-game activities while earning rewards.
        </p>
      </div>
      <div class="slider-actions">
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__button-text">
            visit website
          </span>
        </a>
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
              <path d="M0 9V0L9 3.46154L0 9Z" fill=""/>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="slider-info">
      <div class="slider-info__name">
        GTA
      </div>
      <div class="slider-info__description">
        <p>
          Become part of a large community in a Long-Term Project with a 1x low-rate gameplay model and a Play-to-Earn (P2E) feature. Participate in thrilling raids and other in-game activities while earning rewards.
        </p>
      </div>
      <div class="slider-actions">
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__button-text">
            visit website
          </span>
        </a>
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
              <path d="M0 9V0L9 3.46154L0 9Z" fill=""/>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="slider-info">
      <div class="slider-info__name">
        GTA
      </div>
      <div class="slider-info__description">
        <p>
          Become part of a large community in a Long-Term Project with a 1x low-rate gameplay model and a Play-to-Earn (P2E) feature. Participate in thrilling raids and other in-game activities while earning rewards.
        </p>
      </div>
      <div class="slider-actions">
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__button-text">
            visit website
          </span>
        </a>
        <a href="#" class="slider-actions__button" target="_blank">
          <span class="slider-actions__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
              <path d="M0 9V0L9 3.46154L0 9Z" fill=""/>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="slider-images">
    <div class="slider-images__item slider-images__item--active" data-order="1">
      <img src="../../img/characters/character-image-1.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="2">
      <img src="../../img/characters/character-image-2.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="3">
      <img src="../../img/characters/character-image-3.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="4">
      <img src="../../img/characters/character-image-2.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="5">
      <img src="../../img/characters/character-image-5.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="6">
      <img src="../../img/characters/character-image-6.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="7">
      <img src="../../img/characters/character-image-7.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="8">
      <img src="../../img/characters/character-image-1.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="9">
      <img src="../../img/characters/character-image-1.webp" alt="character-image">
    </div>
  </div>
</section>
