<section class="slider">
  <div class="slider-container swiper">
    <ul class="slider-list swiper-wrapper">
      <li class="slider-item swiper-slide">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
    </ul>
  </div>
</section>
