<section class="slider">
  <div class="slider-container swiper">
    <ul class="slider-list swiper-wrapper">
      <li class="slider-item swiper-slide" data-order="1">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="2">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-gta.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="3">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-gunz.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="4">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-warcraft.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="5">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-tibia.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="6">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-perfect_world.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="7">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="8">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
      <li class="slider-item swiper-slide" data-order="9">
        <div class="slider-item__inner">
          <div class="slider-item__image">
            <img src="../../img/slider/card-cover-lineage.svg" alt="cover-image">
          </div>
          <div class="slider-item__info">
            <div class="slider-item__logo">
              <img src="../../img/slider/lineage-logo.svg" alt="logo-image">
            </div>
            <div class="slider-item__label">
              Ragnarok online
            </div>
          </div>
        </div>
        <div class="slider-item__outer-frame slider-item__absolute">
          <img src="../../img/slider/card-outer-frame.svg" alt="">
        </div>
        <div class="slider-item__square-frame slider-item__absolute">
          <img src="../../img/slider/card-square-frame.svg" alt="outer-square-frame">
        </div>
        <div class="slider-item__inner-frame slider-item__absolute">
          <img src="../../img/slider/card-inner-square.svg" alt="">
        </div>
        <div class="slider-item__shape slider-item__shape--left slider-item__absolute">
          <img src="../../img/slider/card-shape-left.webp" alt="left-shape">
        </div>
        <div class="slider-item__shape slider-item__shape--right slider-item__absolute">
          <img src="../../img/slider/card-shape-right.webp" alt="right-shape">
        </div>
      </li>
    </ul>
  </div>
  <div class="slider-images">
    <div class="slider-images__item slider-images__item--active" data-order="1">
      <img src="../../img/characters/character-image-1.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="2">
      <img src="../../img/characters/character-image-2.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="3">
      <img src="../../img/characters/character-image-3.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="4">
      <img src="../../img/characters/character-image-2.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="5">
      <img src="../../img/characters/character-image-5.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="6">
      <img src="../../img/characters/character-image-6.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="7">
      <img src="../../img/characters/character-image-7.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="8">
      <img src="../../img/characters/character-image-1.webp" alt="character-image">
    </div>
    <div class="slider-images__item" data-order="9">
      <img src="../../img/characters/character-image-1.webp" alt="character-image">
    </div>
  </div>
</section>
