<header class="header">
  <div class="header__container">
    <div class="header-row">
      <a href="/" class="header-logo">
        <img src="../img/header/logo.svg" alt="logo">
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list__item"><a href="#" class="nav-list__link">faq</a></li>
          <li class="nav-list__item"><a href="#" class="nav-list__link">about</a></li>
          <li class="nav-list__item"><a href="#" class="nav-list__link">help</a></li>
        </ul>
      </nav>
      <div class="header-options">
        <a href="#" class="header-login">
          <img class="header-login__icon" src="../img/sprite/user-icon.svg" alt="user-icon">
          <span class="header-login__text">sign in</span>
        </a>
        <a href="#" target="_blank" class="header-download">
          <div class="header-download__content">
            <span class="header-download__text">
              Download
            </span>
          </div>
        </a>
        <button class="header-burger">
          <span class="header-burger__bar"></span>
          <span class="header-burger__bar"></span>
        </button>
      </div>
    </div>
  </div>
</header>
