.header {
  --logo-w: clamp(120px, 10.125vw, 162px);

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;

  background-color: rgba(var(--cl-w), .02);

  border-bottom: 1px solid rgba(var(--cl-w), .1);
  overflow: hidden;
  z-index: 5;

  backdrop-filter: blur(20px);
  filter: none;

  &::before {
    @include pseudo;

    width: 100%;
    opacity: 0;
    height: 1px;
    bottom: 0px;

    background-color: rgba(var(--cl-w), .3);

    transition: 400ms var(--delay-transition);
  }

  @include hover {
    &::before {
      opacity: 1;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: var(--root-header-h);
    align-items: center;
  }
  &-burger {
    display: none;
    gap: 6px;
    justify-content: center;
    margin-left: .5rem;
    &__bar {
      width: 1.625rem;
      height: 2px;

      display: block;

      clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);

      background-color: rgba(var(--cl-w), 1);
    }
  }
  &-logo {
    width: var(--logo-w);
    height: fit-content;

    transition: transform 300ms var(--delay-transition);

    will-change: transform;

    @include hover {
      transform: scale(1.04);
    }

    img,
    svg {
      width: inherit;
      display: block;
    }
  }
  &__container {
    padding-left: clamp(1rem, 1.5vw, 1.5rem);
  }
  &-options {
    display: flex;
    min-height: var(--root-header-h);
  }
  &-download {
    filter: drop-shadow(0 0.25rem 1.875rem rgba(var(--cl-main), 1));

    transition: all 300ms ease;

    &__content {
      min-width: 180px;
      @include dfc;
      text-align: center;
      clip-path: var(--lean-shape);
      padding-left: 0.875rem;
      background-color: #59c5b1;
      position: relative;

      transition: all 400ms ease;

      @include hover {
        min-width: calc(180px * 1.2);
      }

      &::before {
        @include pseudo;

        clip-path: inherit;

        width: calc(100% - 2px);
        height: calc(100% - 2px);

        background-image: var(--header-button-gradient);

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        z-index: -1;
      }

    }
    &__text {
      color: rgba(var(--cl-w), 1);
      font-size: var(--t-sm);
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  &-login {
    padding: 0 44px 0 1.5rem;
    grid-gap: 8px;
    margin-right: -15px;

    @include dfc;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    background-image: var(--login-gradient);

    &__icon {
      width: 1.5rem;
      height: 1.5rem;
      display: block;
    }
    &__text {
      font-size: var(--t-sm);
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

@include tablet {
  .header {
    --logo-w: 94px;

    overflow: visible;
    &__container {
      padding: 0 10px;
    }
    &-burger {
      display: flex;
      flex-direction: column;
    }
    &-row {
      position: initial;
    }
    &-download {
      &__content {
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
        min-width: 120px;
        padding-right: .75rem;
      }
      &__text {
        font-size: var(--t-xs);
      }
    }
    &-login {
      padding: 0 1.625rem 0 1rem;

      &__text {
        display: none;
      }
    }
  }
}
