.slider {
  --slider-item-h: 354px;
  --slider-item-w: 268px;
  --active-slider-w: 360px;
  --active-slider-h: 500px;
  --active-slider-image-h: 95%;
  --pm: 4px;
  --root-transition-short: all 300ms ease;
  --root-transition: all 400ms ease;
  --info-translate: 17px;
  --active-logo-w: 230px;

  min-height: 920px;

  &-images {
    &__item {
      z-index: 3;
      position: absolute;
      right: 0;
      bottom: calc(-1 * (var(  --hide-btn-ratio) / 2) - 0px);
      pointer-events: none;
      max-width: 800px;
      width: 100%;
      height: 1000px;

      transition: var(--root-transition);

      transform: translateX(2.5rem);

      opacity: 0;

      &:nth-child(1) {
        max-width: 1500px;
        right: -320px;
      }

      &--active {
        opacity: 1;
        transform: translateX(0);
      }

      img {
        // object-fit: contain;
        width: 100%;
        height: inherit;
        display: block;
      }
    }
  }
  &-container {
    height: calc(var(--active-slider-h) + 12px);
  }
  &-list {
    display: flex;
    align-items: center;
  }

  &-item {
    width: var(--slider-item-w);
    height: var(--slider-item-h);

    position: relative;

    transition: all 500ms ease;

    user-select: none;
    &__square-frame {
      width: 92%;
      height: 100%;

      left: 50%;
      transform: translateX(-50%);

      z-index: -1;

      transition: var(--root-transition);

      opacity: 0;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    &__label {
      font-size: var(--t-sm);
      font-weight: 500;
      text-transform: uppercase;
      color: rgba(var(--cl-w), .8);
      text-align: center;

      @include hide-text(1);

      transform: translateY(var(--info-translate));

      transition: var(--root-transition) 300ms;

      opacity: 0;
    }
    &__logo {
      max-width: 200px;
      transition: var(--root-transition) 200ms;

      img {
        display: block;
      }
    }
    &__image {
      width: 100%;
      height: 100%;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &__absolute {
      position: absolute;
      pointer-events: none;
    }
    &__outer-frame {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      transition: var(--root-transition);

    }
    &__inner-frame {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 95.5%;
      height: 91.5%;

      transition: var(--root-transition);

      opacity: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
    &__shape {
      top: 50%;
      transform: translateY(-50%);
      width: 9px;
      height: 130px;
      transition: all 300ms ease;
      opacity: 0;

      will-change: transform, opacity;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      &--left {
        left: 0;
      }
      &--right {
        right: 0;
      }
    }
    &__info {
      position: absolute;
      z-index: 1;

      bottom: 20px;

      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      transition: var(--root-transition);
    }
    &__inner {
      position: absolute;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      width: 97%;
      height: 97%;
    }
  }
  .swiper-slide-active {
    width: var(--active-slider-w);
    height: var(--active-slider-h);
    margin-left: calc(var(--active-slider-w) / 5);
    will-change: width, height;

    .slider-item__outer-frame {
      opacity: 0;
    }
    .slider-item__inner-frame {
      opacity: 1;
    }
    .slider-item__inner {
      width: 100%;
      height: var(--active-slider-image-h);
    }
    .slider-item__label {
      --info-translate: 0;

      opacity: 1;
    }
    .slider-item__logo {
      max-width: var(--active-logo-w);

      margin-bottom: 50px;
    }
    .slider-item__info {
      bottom: 2rem;
    }
    .slider-item__shape {
      transform: translateY(-50%) scale(1);
      opacity: 1;
    }
    .slider-item__square-frame {
      opacity: 1;
    }
  }
}

@include laptop {
  .slider {
    --slider-item-h: 300px;
    --slider-item-w: 220px;
    --active-slider-w: 300px;
    --active-slider-h: 400px;

    min-height: 600px;

    &-images {
      &__item {
        max-width: 400px;
        height: 550px;
      }
    }
    &-item {
      &__image {
        img {
          object-fit: contain;
        }
      }
      &__outer-frame {
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      &__shape {
        &--right {
          right: 6px;
        }
        &--left {
          left: 6px;
        }
      }
      &__inner-frame {
        width: 90%;
        height: 90%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@include mobile {
  .slider {
    --slider-item-h: 180px;
    --slider-item-w: 160px;
    --active-slider-w: 260px;
    --active-slider-h: 300px;

    min-height: 400px;

    &-item {
      &__shape {
        width: 6px;
        height: 80px;
        &--left {
          left: 22px;
        }
        &--right {
          right: 22px;
        }
      }
      &__inner-frame {
        width: 90%;
        height: 90%;

        img {
          object-fit: contain;
        }
      }
    }
    &-images {
      &__item {
        max-width: 250px;
        height: 350px;
        right: -3rem;
        &--large {
          right: -7rem;
          max-width: 400px;
          height: 500px;
        }
      }
    }

    .swiper-slide-active {
      margin-left: calc(var(--active-slider-w) / 8);
    }
  }
}

@include ios {
  .slider {
    .swiper-slide-active {
      margin-left: calc(var(--active-slider-w) / 20);
    }
  }
}
