.slider {
  --slider-item-h: 354px;
  --slider-item-w: 268px;
  --active-slider-w: 360px;
  --active-slider-h: 500px;
  --active-slider-image-h: 95%;
  --pm: 4px;
  --root-transition-short: all 300ms ease;
  --root-transition: all 400ms ease;
  --info-translate: 17px;
  --active-logo-w: 230px;
  --slider-item-stroke-width: 1.5px;
  --root-slider-spacing: calc(var(--active-slider-w) / 4);
  --actions-h: 54px;
  --button-shape: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);

  min-height: 920px;

  &-flexbox {
    margin-left: var(--root-slider-spacing);

    width: 100%;
    max-width: 700px;
    min-height: 226px;
    position: relative;
  }
  &-actions {
    min-height: var(--actions-h);
    display: flex;
    &__arrow {
      svg {
        fill: rgba(var(--cl-w), 1);

        opacity: .8;

        width: 9px;
        height: 9px;
      }
    }
    &__button {
      @include dfc;
      padding: 1rem;
      position: relative;
      background-image: var(--shape-url);
      background-size: 100% var(--actions-h);
      background-repeat: no-repeat;

      transition: transform 200ms ease;

      @include hover {
        &:hover {
          transform: scale(1.05);
        }
      }

      &-text {
        font-size: var(--t-sm);
        font-weight: 400;
        text-transform: uppercase;
        color: rgba(var(--cl-w), .8);

        transition: color 400ms ease;
      }
      @include hover {
        .slider-actions__button-text {
          color: rgba(var(--cl-w), 1);
        }
      }
      &:nth-child(1) {
        min-width: 176px;
      }
      &:nth-child(2) {
        min-width: 74px;
        background-image: var(--shape-smaller-url);
      }
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(1.5rem, 2vw, 2rem);
    position: absolute;
    z-index: 4;

    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    opacity: 0;
    transform: translateX(-3rem);
    transition: var(--root-transition);
    will-change: opacity, transform;
    pointer-events: none;
    &--active {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
    &__name {
      font-size: clamp(var(--t-xxl), 3vw, 3rem);
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    &__description {
      font-size: var(--t-sm);
      font-weight: 400;
      color: rgba(var(--cl-w), .8);
      letter-spacing: .28px;
      line-height: 170%;

      max-width: 530px;
    }

  }
  &-images {
    &__item {
      z-index: 4;
      position: absolute;
      right: 0;
      bottom: calc(-1 * (var(--hide-btn-ratio) / 2) - 0px);
      pointer-events: none;
      max-width: 800px;
      width: 100%;
      height: 1000px;

      transition: var(--root-transition);

      transform: translateX(2.5rem);

      opacity: 0;

      will-change: opacity, transform;

      &:nth-child(1) {
        max-width: 1500px;
        right: -320px;
      }

      &--active {
        opacity: 1;
        transform: translateX(0);
      }

      img {
        // object-fit: contain;
        width: 100%;
        height: inherit;
        display: block;
      }
    }
  }
  &-container {
    height: calc(var(--active-slider-h) + 4rem);

    margin-bottom: 1.5rem;
  }
  &-list {
    display: flex;
    align-items: center;
  }
  &-item {
    width: var(--slider-item-w);
    height: var(--slider-item-h);

    position: relative;

    transition: all 600ms ease;

    position: relative;

    &::before {
      @include pseudo;

      width: 600px;
      height: 600px;
      background-image: url('../../img/slider/shadow-effect.webp');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: -1;
    }
    user-select: none;
    &__square-frame {
      width: 92%;
      height: 100%;

      left: 50%;
      transform: translateX(-50%);

      z-index: -1;

      transition: var(--root-transition);

      opacity: 0;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    &__label {
      font-size: var(--t-sm);
      font-weight: 500;
      text-transform: uppercase;
      color: rgba(var(--cl-w), .8);
      text-align: center;

      will-change: opacity;

      @include hide-text(1);

      transform: translateY(var(--info-translate));

      transition: var(--root-transition) 300ms;

      opacity: 0;
    }
    &__logo {
      max-width: 200px;
      transition: var(--root-transition) 150ms;
      img {
        display: block;
        height: auto;
      }
    }
    &__image {
      width: 100%;
      height: 100%;
      img {
        display: block;
        width: 100%;
        height: 100%;

        will-change: filter;

        transition: var(--root-transition);
      }
    }
    &__absolute {
      position: absolute;
      pointer-events: none;
    }
    &__outer-frame {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      transition: var(--root-transition);

    }
    &__inner-frame {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 95.5%;
      height: 91.5%;

      transition: var(--root-transition);

      opacity: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
    &__shape {
      top: 50%;
      transform: translateY(-50%);
      width: 9px;
      height: 130px;
      transition: all 300ms ease;
      opacity: 0;

      will-change: transform, opacity;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      &--left {
        left: 0;
      }
      &--right {
        right: 0;
      }
    }
    &__info {
      position: absolute;
      z-index: 1;

      bottom: 20px;

      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      transition: var(--root-transition);
    }
    &__inner {
      position: absolute;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      width: 97%;
      height: 97%;

      transition: var(--root-transition);
    }
  }
  .swiper-slide-active {
    width: var(--active-slider-w);
    height: var(--active-slider-h);
    margin-left: var(--root-slider-spacing);
    will-change: width, height;
    .slider-item__outer-frame {
      opacity: 0;
    }
    .slider-item__inner-frame {
      opacity: 1;
    }
    .slider-item__inner {
      width: 100%;
      filter:  drop-shadow(0px 0px 1rem #FF7816);
      height: var(--active-slider-image-h);
    }
    .slider-item__label {
      --info-translate: 0;
      opacity: 1;
    }
    .slider-item__image {
      img {
        filter:
        drop-shadow(var(--slider-item-stroke-width) 0 0 rgba(var(--cl-w), 1))
        drop-shadow(calc(-1 * var(--slider-item-stroke-width)) 0 0 rgba(var(--cl-w), 1))
        drop-shadow(0 var(--slider-item-stroke-width) 0 rgba(var(--cl-w), 1))
        drop-shadow(0 calc(-1 * (var(--slider-item-stroke-width))) 0px rgba(var(--cl-w), 1));
      }
    }
    .slider-item__logo {
      max-width: var(--active-logo-w);

      margin-bottom: 50px;

      will-change: max-width;
    }
    .slider-item__info {
      bottom: 2rem;
    }
    .slider-item__shape {
      transform: translateY(-50%) scale(1);
      opacity: 1;
    }
    .slider-item__square-frame {
      opacity: 1;
    }
  }
}

@include laptop {
  .slider {
    --slider-item-h: 300px;
    --slider-item-w: 220px;
    --active-slider-w: 300px;
    --active-slider-h: 400px;

    min-height: 600px;

    &-images {
      &__item {
        max-width: 400px;
        height: 550px;
      }
    }
    &-item {
      &__image {
        img {
          object-fit: contain;
        }
      }
      &__outer-frame {
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      &__shape {
        &--right {
          right: 6px;
        }
        &--left {
          left: 6px;
        }
      }
      &__inner-frame {
        width: 90%;
        height: 90%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@include mobile {
  .slider {
    --slider-item-h: 180px;
    --slider-item-w: 160px;
    --active-slider-w: 260px;
    --active-slider-h: 300px;
    --root-slider-spacing: calc(var(--active-slider-w) / 8);

    min-height: 400px;

    &-flexbox {
      margin-left: calc(var(--active-slider-w) / 5);
    }

    &-item {
      &__shape {
        width: 6px;
        height: 80px;
        &--left {
          left: 22px;
        }
        &--right {
          right: 22px;
        }
      }
      &__inner-frame {
        width: 90%;
        height: 90%;

        img {
          object-fit: contain;
        }
      }
    }
    &-images {
      &__item {
        max-width: 250px;
        height: 350px;
        right: -3rem;
        &--large {
          right: -7rem;
          max-width: 400px;
          height: 500px;
        }
      }
    }
  }
}

@include ios {
  .slider {
    --root-slider-spacing: calc(var(--active-slider-w) / 20);
  }
}
